.detail-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 10px;
  background-color: #e61515;
}

.sprite-image {
  width: 80%;
  height: 250px;
  margin: 10px auto;
  background-color: #A5A5A4;
  border: inset 15px;
  border-radius: 5px;
  color: #585858;
}

.data-wrapper {
  width: 80%;
  height: 180px;
  padding: 10px;
  margin: 0 auto;
  background-color: #A5A5A4;
  border-radius: 5px;
  color: black;
}

.data-name1{
  font-size: 28px;
  letter-spacing: 3px;
  height: 60px;
  box-sizing: border-box;
  border: inset grey 5px;
  background-color: #A5A5A4;
  color: black;
  padding: 1vh;
}

.data-name1, .data-name2 {
  margin: 0 0 6px;
  font-size: 3vh;
  text-transform: capitalize;
}

.data-char {
  font-size: 20px !important;
  font-family: 'Orbitron', sans-serif !important;
  font-weight: 400 !important;
  color: black !important;
}

.data-wrapper {
  border: inset 5px;
  text-transform: capitalize;
}

.panel-row-control {
  display: flex;
  justify-content: space-around;
}

.controlbutton {
  padding: 25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 50px;
  border: outset rgb(248, 187, 187) 6px;
  transform: rotate(180deg);
  cursor: pointer;
  background-color: #5ed75e;
}

.controlbutton:hover {
  background-color: #72B413;
}

.controlbutton:active {
  background-color: #A7DE58;
}