.allInput {
  align-items: center;
}

.num-input {
  width: 50px;
  font-size: 20px;
  height: 30px;
  text-align: right;
  align-self: center;
}

.submit {
  width: 66px;
  height: 33px;
  border: groove #5f845e 3px;
  background-color: #5ed75e;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.submit:hover {
  border-color: #395EA9;
}