.Pokedex {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80vh;
    padding-left: 10px;
    margin: 50px auto;
    background-color: black;
}