.Pokedex {
  font-family: 'Orbitron', sans-serif;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80vh;
  margin: 0 auto;
  padding: 1em;
  border-radius: 15px;
  border: double black 10px;
  display: flex;
  background-color: #e61515;
}

.pokedexbuttons {
  padding: 5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: outset rgb(248, 187, 187) 6px;
  transform: rotate(60deg);
  background: radial-gradient(
      circle farthest-corner at 40% 25%,
      rgb(218, 237, 241) 9%,
      rgb(124, 214, 237) 20%,
      rgb(64, 90, 165) 62%,
      rgb(43, 125, 196) 100%
  );
  cursor: pointer;
}

.Buttons {
  display: flex;
  font-family: 'Orbitron', sans-serif;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 3vh;
  margin: 0 auto;
  padding: 1em;
  border-radius: 15px;
  border: double black 10px;
  background-color: #e61515;
}