.Pokedex {
  font-family: 'Orbitron', sans-serif;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80vh;
  margin: 0 auto;
  padding: 1em;
  border-radius: 15px;
  border: double black 10px;
  display: flex;
  background-color: #e61515;
}