.gameContainer{
    padding: 2% 5%;
}

.instanceContainer {
    position: relative;
    display: inline-block;
    border: 7px solid #395EA9;
    margin: 5px;
    box-shadow: -8px 8px #1D2C5E;
}

.BonusMenu {
    position: absolute;
    bottom: 0px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.9), 0px 0px 0px 4px rgba(230, 21, 21, 0.9), 0px 0px 0px 6px rgba(0, 0, 0, 0.9);
    background-color: rgba(230, 21, 21, 0.75);
    width: 832px;
    z-index: 900;
    display: flex;
    flex-direction: row;
}

.Map {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Bonus {
    font-family: 'Press Start 2P', cursive;
    line-height: 5vh;
    font-size: 4vh;
    color: #395EA9;
    background-color: #FFCB05;
    border-radius: 50px;
    border-color: #395EA9;
    border-style: solid;
    border-width: 0.6vh;
    width: 6vh;
    height: 6vh;
    margin: 2vh;
  }

.BonusText {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-left: 6vh;
}