.tile {
    float: left;
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: cover;
    margin: 0;
    image-rendering: pixelated;
    background-repeat: no-Repeat;
}
