// VARS
$default-delay: .25s;
$bars: 3;

// MIXINS
// Color Mixin
@mixin stat-bar($color-dark, $color-light, $direction, $dir-webkit) {
  background-image: -webkit-linear-gradient($dir-webkit, $color-light 0%, $color-light 47%, $color-dark 50%, $color-dark 100%);
  background-image: linear-gradient($direction, $color-light 0%, $color-light 47%, $color-dark 50%, $color-dark 100%);
}
// Animation Mixin
@mixin bar-animation($time, $dimension) {
  visibility: hidden;
  @if $dimension == width {
    width: 0;
    -webkit-animation: animate-width; 
    -moz-animation: animate-width;
    animation: animate-width;
  }
  @if $dimension == height {
    height: 0;
    -webkit-animation: animate-height; 
    -moz-animation: animate-height;
    animation: animate-height;
  }
  animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -webkit-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  -moz-animation-timing-function: cubic-bezier(.35,.95,.67,.99);
  animation-duration: $time*2;
  -webkit-animation-duration: $time*2;
  -moz-animation-duration: $time*2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

// STYLES
body {
 background: black;
 font-family: arial, sans-serif;
}
.stat-levels {
  max-width: 70%;
  margin: 50px auto 0 auto;
  padding: 25px;
  border-radius: 10px;
}
.stat-bar {
  background-color: #2a2b2f;
  box-shadow: inset 0 5px 15px rgba(0,0,0,.6);
  height: 18px;
  overflow: hidden;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 0;
  &:last-child {
    margin-bottom: 0;
  }
}
.stat-bar-rating {
  border-radius: 4px;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: white;
  text-align: center;
  text-indent: -9999px;
  background-color: #FFCB05;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

// Animation Style
.stat-bar-rating {
  @include bar-animation($default-delay, width);
} 
.stat-bar {
  @for $i from 1 through $bars {
    &:nth-of-type(#{$i}) {
      .stat-bar-rating {
        animation-delay: $default-delay*$i;
        -webkit-animation-delay: $default-delay*$i;
      }
    }
  }
}